<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
.space_under{
  padding-bottom: 50px;
}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-theme-l1">YouTube Search</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Advanced Search</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Top Favs</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">News</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">About</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Login</a>
  </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Filters</b></h4>

  <form class="w3-bar-item w3-button w3-hover-grey">
    Date Range<br>
    <input type="date" name="ldate" id="ldate_id"><br>
    to<br>
    <input type="date" name="hdate" id="hdate_id"><br><br>
  </form>

  <form class="w3-bar-item w3-button w3-hover-grey">
    Length in Minutes<br>
    <input type="number" min="0" step="1" name="ltime" id="ltime_id"><br>
    ><br>
    <input type="number" min="0" step="1" name="htime" id="htime_id"><br><br>
  </form> 

  <form class="w3-bar-item w3-button w3-hover-grey">
    Channel Id<br>
    <input type="text" name="cid" id="cid_id"><br>
  </form> 

  <form class="w3-bar-item w3-button w3-hover-grey">
    Type<br>
    <select name="ttype" id="ttype_id">
      <option>all</option>
      <option>video</option>
      <option>channel</option>      
      <option>playlist</option>          
    </select>
  </form> 

  <a class="w3-bar-item w3-button w3-hover-grey" href="#">Filter 2</a>
  <a class="w3-bar-item w3-button w3-hover-grey" href="#">Filter 3</a>
  <a class="w3-bar-item w3-button w3-hover-grey" href="#">Filter 4</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:300px" >

  <div class="w3-row w3-padding-64">
    <div class="w3-rest w3-container" align="center">
      <h1 class="w3-text-teal">YouTube Search</h1>

      <div class="container" id="mainid">
        
        <form class="space_under" method="post" id ="main_form_id" onsubmit="keep_search()">
          <input name="video_keyword" id="video_keyword_id" type="text"placeholder="Search" required>
          <input type = "hidden" id = "lowdate_id" name ="lowdate" >
          <input type = "hidden" id = "highdate_id" name ="highdate" >
          <input type = "hidden" id = "lowtime_id" name ="lowtime" >
          <input type = "hidden" id = "hightime_id" name ="hightime" >
          <input type = "hidden" id = "channelid_id" name ="channelid" >
          <input type = "hidden" id = "type_id" name ="type" >
          <input type="submit"  value="Search">
        </form>

        <table id="maintable" style="width:80%">
          <tbody>
          </tbody>
        </table>   
               
        <script>
          var row_count = -1;
          var append_result = "";
          if(window.localStorage.getItem("s") !== undefined){ //keeps search term in field after sent
            $("#video_keyword_id").val(window.localStorage.getItem("s"));
          }
          if(window.localStorage.getItem("low") !== undefined){
            $("#ldate_id").val(window.localStorage.getItem("low"));
          }
          if(window.localStorage.getItem("high") !== undefined){
            $("#hdate_id").val(window.localStorage.getItem("high"));
          } 
          if(window.localStorage.getItem("lowtime") !== undefined){
            $("#ltime_id").val(window.localStorage.getItem("lowtime"));
          }
          if(window.localStorage.getItem("hightime") !== undefined){
            $("#htime_id").val(window.localStorage.getItem("hightime"));
          }    
          if(window.localStorage.getItem("channelid") !== undefined){
            $("#cid_id").val(window.localStorage.getItem("channelid"));
          }        
          if(window.localStorage.getItem("type") !== undefined){
            $("#ttype_id").val(window.localStorage.getItem("type"));
          }                        
        </script>
          <% if(locals.video_array !== undefined) {%> <!-- Makes sure there is a search term -->                     
              <% var page_loop = 9; %>
              <% if(locals.page_num !== undefined){ %>
                <% page_loop = (locals.page_num * 9); %>
              <% } %>
              <% for(var i = 0; i < 9 && locals.video_array[i] != undefined; i++){ %>
                            
                <script> 
                  /*These client var store server var*/
                  var img_source = <%- JSON.stringify( locals.video_array[i].pic); %>;
                  var vid_name = <%- JSON.stringify(locals.video_array[i].name); %>;
                  var vid_url = <%- JSON.stringify(locals.video_array[i].url); %>;

                  if(row_count === -1){ //need new row
                    append_result = append_result + "<tr><td align='center'><a href='"+vid_url+"'><img src='"+img_source+"'> <p >'"+vid_name+"' </p> </a></td>";
                    row_count = 0;
                } 
                  else if(row_count >= 2){
                    append_result = append_result + "</tr><tr><td align='center'><a href='"+vid_url+"'><img  src='"+img_source+"' alt='"+vid_name+"'> <p>'"+vid_name+"' </p></a> </td>";
                    row_count = 0;
                }
                  else{
                    append_result = append_result + "<td align='center'><a href='"+vid_url+"'><img  src='"+img_source+"'> <p >'"+vid_name+"' </p></a></td>";
                    row_count++;                 
                  }         
                </script> 

              <% } %>

              <script>
                $('#maintable tbody').append(append_result); //create table with videos from generated string 
              </script> 

           <%}%>     

        <% if(locals.error !== null){ %>
            <p><%= locals.error %></p>
        <% } %>

      </div>      
    </div>
  </div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar" id="pageid">
      <form action="/" method="post" onsubmit="save_search()" id="formid" >
        <input type = "hidden" name ="pageform" value=">>">
        <input type = "hidden" id ="search_hid_id" name ="search_hid" value=".">
        <input type = "hidden" name ="lowdate_page" value=">>">
        <input type = "hidden" name ="highdate_page" value=">>">      
        <input type = "hidden" name ="lowtime_page" value=">>">
        <input type = "hidden" name ="hightime_page" value=">>">   
        <input type = "hidden" name ="channelid_page" value=">>">   
        <input type = "hidden" name ="type_page" value=">>">
      </form>
      <button type="submit" class="w3-button w3-black" onclick="goBack()" value=">"><<</button>
      <button type="submit" class="w3-button w3-black" form="formid" value=">>">>></button>

    </div>
  </div>

  <footer id="myFooter">
    <div class="w3-container w3-theme-l2 w3-padding-32">
      <h4>Footer</h4>
    </div>

    <div class="w3-container w3-theme-l1">
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div>
  </footer>

<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
let mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
let overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open(){
    if (mySidebar.style.display === 'block'){
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else{
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>

<script>
function keep_search(){ //on new search submit
  window.localStorage.setItem("s",$('#video_keyword_id').val());
  $("#lowdate_id").val($("#ldate_id").val()); //moves date filter input to hidden input field for submission
  $("#highdate_id").val($("#hdate_id").val());
  window.localStorage.setItem("low",$('#lowdate_id').val());
  window.localStorage.setItem("high",$('#highdate_id').val());
  $("#lowtime_id").val($("#ltime_id").val()); //moves time filter input to hidden input field for submission
  $("#hightime_id").val($("#htime_id").val());
  window.localStorage.setItem("lowtime",$('#lowtime_id').val());
  window.localStorage.setItem("hightime",$('#hightime_id').val());
  $("#type_id").val($("#ttype_id").val());
  window.localStorage.setItem("type",$('#type_id').val());

  $("#channelid_id").val($("#cid_id").val()); //moves channelid filter input to hidden input field for submission
  window.localStorage.setItem("channelid",$('#channelid_id').val());
}

function save_search(){ //on next page button push
  $("#search_hid_id").val(window.localStorage.getItem("s"));
  $("#ldate_id").val(window.localStorage.getItem("low"));
  $("#hdate_id").val(window.localStorage.getItem("high"));
  $("#ltime_id").val(window.localStorage.getItem("lowtime"));
  $("#htime_id").val(window.localStorage.getItem("hightime"));
  $("#cid_id").val(window.localStorage.getItem("channelid"));

}

function goBack(){
  window.history.back();
}
</script>  

</body>
</html>